<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0, maximum-scale=1,user-scalable=yes" />
<meta name=”format-detection” content=”telephone=no” />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible"content="IE=9; IE=8; IE=7; IE=EDGE" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/weixin/css/style.css" />
<script type="text/javascript" src="__PUBLIC__/home/weixin/js/png.js" ></script>
<title>明创科技</title>
</head>

<body>
<script>
function check_zhi(){
	document.getElementById("sou1_NO1").style.display = "block";
	}
	function out_zhi(){
	document.getElementById("sou1_NO1").style.display = "none";
	}
</script>
<!--header-->
<div class="header">
<dl class="head">
<dt><img src="__PUBLIC__/home/weixin/images/logo.png" /></dt>
<dd onclick="check_zhi()">
<span><img src="__PUBLIC__/home/weixin/images/menu.png"></span>
<ul class="soul_NO1" style="display:none; z-index: 99999;" id="sou1_NO1" onmouseover="check_zhi()" onmouseout="out_zhi()">
<li><a href="{:U('Weixin/anli')}">全部案例</a></li>
<li><a href="{:U('Weixin/anli2',array('typeid'=>2))}">APP开发</a></li>
<li><a href="{:U('Weixin/anli2',array('typeid'=>4))}">微信端</a></li>
<li><a href="{:U('Weixin/anli2',array('typeid'=>1))}">网站开发</a></li>
<li><a href="{:U('Weixin/about')}">关于我们</a></li>
<li><a href="{:U('Weixin/about')}">联系我们</a></li>
</ul>
</span>
</dd>
</dl>
</div>
<!--header-->

<!--banner-->
<script type="text/javascript" src="__PUBLIC__/home/weixin/js/zepto.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/weixin/js/mobileevent2pc.js"></script><!-- 此JS作用：在PC端方便查看效果，用在手机端时，可不引用 -->
<script type="text/javascript" src="__PUBLIC__/home/weixin/js/touch.js"></script><!--新版zepto合并版中不包括touch.js-->
<script type="text/javascript" src="__PUBLIC__/home/weixin/js/zepto.extend.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/weixin/js/zepto.ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/weixin/js/widget/slider.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/weixin/css/widget/slider/slider.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/weixin/css/widget/slider/slider.default.css" />
<!-- 代码 开始 -->
<div id="slider" style="margin-top:50px;">
    <div><a href="javascript:;"><img lazyload="__PUBLIC__/home/weixin/images/ban1.jpg" style="height:150px;"></a></div>
    <div><a href="javascript:;"><img lazyload="__PUBLIC__/home/weixin/images/ban2.jpg" style="height:150px;"></a></div>
</div>
<script>
    //创建slider组件
    $('#slider').slider({loop:true});
</script>
<!-- 代码 结束 -->



<!-- 代码 开始 -->
<div id="fsvs-body" style="background:#efefef;">
<div class="slide">
<dl class="about_dl01">
<dd>
<h1>我们都能做什么？</h1>
<p>设计类</p>
<ul>
<li>UI视觉交互设计</li>
<li>客户端设计</li>
<li>移动应用界面设计</li>
</ul>
<p>研发和技术类</p>
<ul class="about_ul02">
<li>PHP、Java、Mysql、SqlServer开发</li>
<li>IOS/Android客户端开发</li>
<li>基于微信平台深度开发</li>
<li>DIV+CSS网页制作</li>
<li>HMTL5前端开发</li>
<li>电商O2O/OA系统开发</li>
<li>新闻门户开发/交友社区开发</li>
</ul>
</dd>
</dl>
</div>
</div>
<!-- 代码 结束 -->
<script type="text/javascript" src="__PUBLIC__/home/weixin/js/jquery.js" ></script>
<div class="in_web">
<h1 class="in_tit"><img src="__PUBLIC__/home/weixin/images/inweb_anli.png" alt="WEB案例" /></h1>
<div class="in_fr">
<div class="in_marLfz">
    <div style="width:270px; height:260px;" id="capslide_img_cont1" class="ic_container"> 
	  <a><img src="__PUBLIC__/home/weixin/images/anli_logo.png" width="270" height="260">
      <div style="color:#fff; background-color:#000; bottom: 0px; width:270px;" class="ic_caption">
        <h3>帕尔加特官网</h3>
<div style="display: none;" class="ic_text">
<img src="__PUBLIC__/home/weixin/images/anli_tp.jpg" />
</div>
      </div>
      </a>
   </div>
   
   <div style="width:270px; height:260px;" id="capslide_img_cont2" class="ic_container"> 
	  <a><img src="__PUBLIC__/home/weixin/images/anli_logo2.png" width="270" height="260">
      <div style="color:#fff; background-color:#000; bottom: 0px; width:270px;" class="ic_caption">
        <h3>知行者论坛</h3>
<div style="display: none;" class="ic_text">
<img src="__PUBLIC__/home/weixin/images/anli_tp2.jpg" />
</div>
      </div>
      </a>
   </div>
   
   <div style="width:270px; height:260px;" id="capslide_img_cont3" class="ic_container"> 
	  <a><img src="__PUBLIC__/home/weixin/images/anli_logo3.png" width="270" height="260">
      <div style="color:#fff; background-color:#000; bottom: 0px; width:270px;" class="ic_caption">
        <h3>海尔</h3>
<div style="display: none;" class="ic_text">
<img src="__PUBLIC__/home/weixin/images/anli_tp3.jpg" />
</div>
      </div>
      </a>
   </div>
   
    <div style="width:270px; height:260px;" id="capslide_img_cont4" class="ic_container"> 
	  <a><img src="__PUBLIC__/home/weixin/images/anli_logo4.png" width="270" height="260">
      <div style="color:#fff; background-color:#000; bottom: 0px; width:270px;" class="ic_caption">
        <h3>鸿铂培训在线教育</h3>
<div style="display: none;" class="ic_text">
<img src="__PUBLIC__/home/weixin/images/anli_tp4.jpg" />
</div>
      </div>
      </a>
   </div>
   
    <div style="width:270px; height:260px;" id="capslide_img_cont5" class="ic_container"> 
	  <a><img src="__PUBLIC__/home/weixin/images/anli_logo5.png" width="270" height="260">
      <div style="color:#fff; background-color:#000; bottom: 0px; width:270px;" class="ic_caption">
        <h3>梦工场</h3>
<div style="display: none;" class="ic_text">
<img src="__PUBLIC__/home/weixin/images/anli_tp5.jpg" />
</div>
      </div>
      </a>
   </div>
   
    <div style="width:270px; height:260px;" id="capslide_img_cont6" class="ic_container"> 
	  <a><img src="__PUBLIC__/home/weixin/images/anli_logo6.png" width="270" height="260">
      <div style="color:#fff; background-color:#000; bottom: 0px; width:270px;" class="ic_caption">
        <h3>一喂拼车</h3>
<div style="display: none;" class="ic_text">
<img src="__PUBLIC__/home/weixin/images/anli_tp6.jpg" />
</div>
      </div>
      </a>
   </div>
   
    <div style="width:270px; height:260px;" id="capslide_img_cont7" class="ic_container"> 
	  <a><img src="__PUBLIC__/home/weixin/images/anli_logo7.png" width="270" height="260">
      <div style="color:#fff; background-color:#000; bottom: 0px; width:270px;" class="ic_caption">
        <h3>抛绣球</h3>
<div style="display: none;" class="ic_text">
<img src="__PUBLIC__/home/weixin/images/anli_tp7.jpg" />
</div>
      </div>
      </a>
   </div>
   
    <div style="width:270px; height:260px;" id="capslide_img_cont8" class="ic_container"> 
	  <a><img src="__PUBLIC__/home/weixin/images/anli_logo8.png" width="270" height="260">
      <div style="color:#fff; background-color:#000; bottom: 0px; width:270px;" class="ic_caption">
        <h3>汉旺论坛</h3>
<div style="display: none;" class="ic_text">
<img src="__PUBLIC__/home/weixin/images/anli_tp8.jpg" />
</div>
      </div>
      </a>
   </div>

<script type="text/javascript" src="__PUBLIC__/home/weixin/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/weixin/js/slides.js"></script>
</div>  
</div>
</div>

<div id="fsvs-body">
<div class="slide">
<h1 class="about_bt1">我们是怎么做的？</h1>
<dl class="about_dl02">
<dt>第1步：沟通需求</dt>
<dd>
<ul>
<li>倾听客户需求，了解用户使用环境和操作流程，头脑风景交互情景模拟</li>
</ul>
</dd>
</dl>
<dl class="about_dl02">
<dt>第2步：视觉设计</dt>
<dd>
<ul>
<li>色彩及平面元素设定，结构和布局确认</li>
</ul>
</dd>
</dl>
<dl class="about_dl02">
<dt>第3步：前端制作</dt>
<dd>
<ul>
<li>CSS、JS、HTML实现页面的动态展示</li>
</ul>
</dd>
</dl>
<dl class="about_dl02">
<dt>第4步：技术开发</dt>
<dd>
<ul>
<li>应用数据对接与开发</li>
</ul>
</dd>
</dl>
<dl class="about_dl02">
<dt>第5步：测试反馈</dt>
<dd>
<ul>
<li>修改调整BUG，规范完善</li>
</ul>
</dd>
</dl>

</div>
</div>

<div class="slide" style="background:#1aaef8;">
<img src="__PUBLIC__/home/weixin/images/about_04.png" width="100%"/>
</div>
<div class="about_tel"><a href="tel:010-87653002"><img src="__PUBLIC__/home/weixin/images/tel.png">电话咨询</a></div>

</body>
</html>