<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>直播A站</title>
    <link rel="stylesheet" href="__PUBLIC__/home/index/css/style.css"/>
    <script src="__PUBLIC__/home/index/js/jquery-2.2.4.min.js"></script>
</head>
<body>
<div id="Account_recharge">
    <div class="head">
        <div class="logo">
            <a href="{:U('index')}">
                <img src="__PUBLIC__/home/index/image/chongzhilogo.png" alt="直播A站"/>
            </a>
        </div>
        <div class="headbtn">
            <p class="home"><a href="{:U('index')}">首页</a></p>
            <p class="account_Recharge"><a href="javascript:void(0)">账户充值</a></p>
        </div>
        <div class="signbtn">登录</div>
    </div>
    <div class="diamond_Recharge">
        <p class="diamond_Recharge_tit">钻石充值</p>
        <div class="diamond_Recharge_contens">
            <div class="diamond_Recharge_conten">
                <div class="diamond_Recharge_top">
                    <img src="__PUBLIC__/home/index/image/touxiang.png" alt="头像"/>
                    <div class="name_state">
                        <p class="name">您还没有登录</p>
                        <p>登录后即可充值 <span class="loginbtns">登录</span></p>
                    </div>
                    <div class="dl_recharge">直播A站号充值</div>
                </div>
                <div class="paycontent">
                    <div class="rechargetags">
                        <p class="rechargetags_tit">选择充值金额</p>
                        <ul class="rechargelists">
                            <li class="rechargelistli">
                                <p class="rechargelistli_dia">60钻石</p>
                                <p class="rechargelistli_price">¥6元</p>
                            </li>
                            <li class="rechargelistli">
                                <p class="rechargelistli_dia">300钻石</p>
                                <p class="rechargelistli_price">¥30元</p>
                            </li>
                            <li class="rechargelistli">
                                <p class="rechargelistli_dia">980钻石</p>
                                <p class="rechargelistli_price">¥98元</p>
                            </li>
                            <li class="rechargelistli">
                                <p class="rechargelistli_dia">2980钻石</p>
                                <p class="rechargelistli_price">¥298元</p>
                            </li>
                            <li class="rechargelistli">
                                <p class="rechargelistli_dia">9980钻石</p>
                                <p class="rechargelistli_price">¥998元</p>
                            </li>
                            <li class="rechargelistli">
                                <p class="rechargelistli_dia">29980钻石</p>
                                <p class="rechargelistli_price">¥2998元</p>
                            </li>
                        </ul>
                    </div>
                    <div class="pays">
                        <p class="pays_tit">选择支付方式</p>
                        <ul class="pays_titlists">
                            <li class="pays_titlistli wx"></li>
                            <li class="pays_titlistli zfb"></li>
                        </ul>
                    </div>
                </div>
                <div class="total">
                    <div class="totalsum">
                        <div class="total_price">支付金额:<span class="">6</span>元</div>
                        <div class="protocol">我已阅读并同意《用户充值协议》</div>
                    </div>
                    <a href="javascript:void(0)" class="paybtn">确认支付</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 登录框 -->
    <div class="loginbox">
        <div class="loginboxback"></div>
        <div class="loginboxshow">
            <div class="loginboxshows">
                <div class="del">
                    <img src="__PUBLIC__/home/index/image/del.png" alt=""/>
                </div>
                <div class="loginbox_tit">登录直播A站</div>
                <div class="mobile">
                    <input type="text" placeholder="请输入手机号"/>
                </div>
                <div class="codeimgs">
                    <input type="text" placeholder="请输入图文验证码"/>
                    <div>图文验证码</div>
                </div>
                <div class="code">
                    <input type="text" placeholder="请输入手机验证码"/>
                    <div class="getcode">获取验证码</div>
                </div>
                <div class="loginsbutton">登录</div>
                <div class="agreement">登录即代表你同意<span>《直播A站服务协议》</span> 和 <span>《隐私条款》</span></div>
            </div>
        </div>
    </div>
    <!-- 直播A站号充值 -->
    <div class="paybox">
        <div class="payboxback"></div>
        <div class="payboxshow">
            <div class="payboxshows">
                <div class="del">
                    <img src="__PUBLIC__/home/index/image/del.png" alt=""/>
                </div>
                <div class="paybox_tit">直播A站号充值</div>
                <div class="dl_id">
                    <input type="text" placeholder="请输入直播A站号"/>
                </div>
                <div class="confirmbutton">确认</div>
            </div>
        </div>
    </div>
    <div class="fool pulicefool">
        <p class="doc">
            <a href="#" target="_blank" class="">隐私政策</a>
            <a href="#" target="_blank" class="">服务条款</a>
            <a href="#" target="_blank" class="">联系我们</a>
        </p>
        <p class="company_inf">
            <span class="company_name">上海直播A站信息科技有限公司</span>
            <span class="service_telephone">客服热线：4008-123-321</span>
        </p>
        <p>Copyright 2017-2017 duluo.com All rights reserved. 沪ICP备16012345号-1</p>
    </div>
</div>
</body>
<script>
    $(function(){
        $(".signbtn").click(function(){
            $(".loginbox").fadeIn();
        })
        $(".del").click(function(){
            $(".loginbox").fadeOut();
        })
        $(".loginboxback").click(function(){
            $(".loginbox").fadeOut();
        })
        $(".dl_recharge").click(function(){
            $(".paybox").fadeIn();
        })
        $(".del").click(function(){
            $(".paybox").fadeOut();
        })
        $(".payboxback").click(function(){
            $(".paybox").fadeOut();
        })
        $(".rechargelistli").click(function(){
            $(this).addClass("act").siblings().removeClass("act");
        })
        $(".pays_titlistli").click(function(){
            $(this).addClass("act").siblings().removeClass("act");
        })
        $(".paybtn").click(function(){
            if($(".rechargelistli").hasClass("act")==false){
                alert("请选择选择充值金额")
            }else if($(".pays_titlistli").hasClass("act")==false){
                alert("请选择支付方式")
            }else if($(".pays_titlistli.wx").hasClass("act")==true){
                window.location.href="wxpay.html"
            }else if($(".pays_titlistli.zfb").hasClass("act")==true){
                window.location.href="zfbpay.html"
            }
        })
        $(".confirmbutton").click(function(){
            if($(".dl_id input").val()==''){
                alert("请输入直播A站号")
            }else{
                $(".paybox").fadeOut();
            }
        })
        $(".loginsbutton").click(function(){
            if($(".mobile input").val()==''){
                alert("请输入手机号")
            }else if($(".code input").val()==''){
                alert("请输入验证码")
            }else{
                $(".loginbox").fadeOut();
            }
        })
        $(".getcode").click(function(){
            if($(".mobile input").val()==''){
                alert("请输入手机号")
            }
        })
    })
</script>
</html>