<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible"content="IE=9; IE=8; IE=7; IE=EDGE" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/style.css" />
<script type="text/javascript" src="__PUBLIC__/home/js/png.js" ></script>
<script type="text/javascript" src="__PUBLIC__/home/js/jquery.js" ></script>
<title>{$base.name}</title>
</head>

<body>
<!--header-->
<include file="Public:head" />
<!--banner-->
<div class="hk_ban">
<ul>
<li><a href="{:U('Index/fangshi')}"><span><img src="__PUBLIC__/home/images/hk_ico1.png" /></span>汇款方式</a></li>
<li class="hk_tit2"><a href="{:U('Index/wenti')}"><span><img src="__PUBLIC__/home/images/hk_ico2.png" /></span>常见问题</a></li>
<li class="hk_tit3"><a href="{:U('Index/page',array(id=>9))}"><span><img src="__PUBLIC__/home/images/hk_ico3.png" /></span>备案流程</a></li>
<li class="hk_tit4"><a href="{:U('Index/page',array(id=>10))}"><span><img src="__PUBLIC__/home/images/hk_ico4.png" /></span>网站维护</a></li>
</ul>
</div>
<!--01-->
<div class="w1200_mian">
<div class="hk_nrtit">电子汇款方式</div>
<dl class="hk_list">
<dt><img src="__PUBLIC__/home/images/hk_ico1.jpg" /></dt>
<dd>
<strong>招商银行一卡通（实时到帐）</strong>
<p>开户银行：招商银行 北京方庄支行</p>
<p>卡号：6225 8801 2834 1543</p>
<p>账户姓名：王明莲</p>
<p>汇入城市：北京市</p>
</dd>
</dl>

<dl class="hk_list">
<dt><img src="__PUBLIC__/home/images/hk_ico2.jpg" /></dt>
<dd>
<strong>工商银行商友卡（实时到帐）</strong>
<p>开户银行：中国工商银行北京分行通州支行新华分理处</p>
<p>灵通卡号：6222 0802 0000 9473 995</p>
<p>账户姓名：王明莲</p>
<p>汇入城市：北京市</p>
</dd>
</dl>

<dl class="hk_list">
<dt><img src="__PUBLIC__/home/images/hk_ico3.jpg" /></dt>
<dd>
<strong>建设银行龙卡（实时到帐）</strong>
<p>中国 建设银行 北京 城市建设开发专业支行</p>  
<p>卡号：6227 0000 1177 0218 550</p>
<p>账户姓名：王明莲</p>
<p>汇入城市：北京市</p>
</dd>
</dl>
<div class="clear"></div>
<div class="hk_box">
<dl class="hk_list">
<dt><img src="__PUBLIC__/home/images/hk_ico4.jpg" /></dt>
<dd>
<strong>农业银行储蓄卡（实时到帐）</strong>
<p>开户银行：中国 农业银行 北京 中国农业银行宋家庄支行</p>  
<p>卡号：6228 4800 1067 2844 114</p>
<p>账户姓名：张丽平</p>
<p>汇入城市：北京市</p>
</dd>
</dl>

<dl class="hk_list">
<dt><img src="__PUBLIC__/home/images/hk_ico5.jpg" /></dt>
<dd>
<strong>北京银行借记卡（实时到帐）</strong>
<p>开户银行：北京银行 北京丰台区成寿寺支行</p>  
<p>卡号：6210 3000 3040 4906</p>
<p>账户姓名：王明莲</p>
<p>汇入城市：北京市</p>
</dd>
</dl>
</div>


<div class="hk_nrtit">公司付款方式</div>
<div class="hk_box">
<dl class="hk_list">
<dt><img src="__PUBLIC__/home/images/hk_ico2.jpg" /></dt>
<dd>
<strong>公司帐户（公司对公司转帐）</strong>
<p>公司户名：北京明创百年科技有限公司</p>
<p>开户银行：中国工商银行北京分行通州支行新华分理处</p>
<p>银行账号：0200 0002 0900 0036 848</p>
<p>汇款用途：公司户名不可填错，汇完款后，把汇款底单传真至我公司。</p>
</dd>
</dl>
<dl class="hk_list">
<dt><img src="__PUBLIC__/home/images/hk_ico6.jpg" /></dt>
<dd>
<strong>上门交费</strong>
<p>交费地址：北京市丰台区宋庄71号扑满山大厦3号楼607</p>
</dd>
</dl>
</div>

</div>


<!--footer-->
<include file="Public:footer" />

</body>
</html>