<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>直播A站</title>
    <link rel="stylesheet" href="__PUBLIC__/home/index/css/style.css"/>
</head>
<body>
<div id="home">
    <div class="back_main"></div>
    <div class="head">
        <div class="logo">
            <!-- <img src="__PUBLIC__/home/index/image/shouyelogo.png" alt="直播A站"/> -->
        </div>
        <div class="headbtn">
            <p class="home"><a href="#">首页</a></p>
            <p class="account_Recharge"><a href="{:U('Account_recharge')}">账户充值</a></p>
        </div>
    </div>
    <div class="kan">
        <!-- <img src="__PUBLIC__/home/index/image/kanzhiboshangduluo.png" alt="" class=""/> -->
    </div>
    <div class="downloads">
        <div>
            <!--<a href="" class="ios">-->
                <!--<img src="__PUBLIC__/home/index/image/ios.png" alt=""/>-->
            <!--</a>-->
            <!-- <a href="http://www.duluozb.com/duluo.apk" class="android">
                <img src="__PUBLIC__/home/index/image/android.png" alt=""/>
            </a> -->
            <!--<a href="" class="QR">-->
                <!--<img src="__PUBLIC__/home/index/image/QR.png" alt=""/>-->
            <!--</a>-->
        </div>
    </div>
    <div class="fool indexfool">
        <p class="doc">
            <a href="#" target="_blank" class="">隐私政策</a>
            <a href="#" target="_blank" class="">服务条款</a>
            <a href="#" target="_blank" class="">联系我们</a>
        </p>
        <p class="company_inf">
            <span class="company_name">上海直播A站信息科技有限公司</span>
            <span class="service_telephone">客服热线：4008-123-321</span>
        </p>
        <p>Copyright 2017-2017 duluo.com All rights reserved. 沪ICP备16012345号-1</p>
    </div>
</div>
</body>
</html>