<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible"content="IE=9; IE=8; IE=7; IE=EDGE" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/style.css" />
<script type="text/javascript" src="__PUBLIC__/home/js/png.js" ></script>
<script type="text/javascript" src="__PUBLIC__/home/js/jquery.js" ></script>
<title>{$base.name}-网站开发</title>
</head>

<body>
<!--header-->
<include file="Public:head" />
<!--banner-->
<div class="pc_ban">
定制开发 | 商城开发 | 微信开发 | APP应用
</div>
<!--01-->
<div class="w1200_mian">
<div class="pc_tp left"><img src="{$web1.w_img}" /></div>
<dl class="pc_dl right">
<dt>{$web1.w_title}</dt>
<dd>
{$web1.w_dis}
</dd>
</dl>
</div>


<div class="wx_huibg">
<div class="w1200_mian">
<div class="pc_tp right"><img src="{$web2.w_img}" /></div>
<dl class="pc_dl pc_dl2 left">
<dt>{$web2.w_title}</dt>
<dd>
{$web2.w_dis}
</dd>
</dl>
</div>
</div>

<div class="w1200_mian">
<div class="pc_tp left"><img src="{$web3.w_img}" /></div>
<dl class="pc_dl pc_dl3 right">
<dt>{$web3.w_title}</dt>
<dd>
{$web3.w_dis}
</dd>
</dl>
</div>



<!--footer-->
<include file="Public:footer" />
</body>
</html>