<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="fsvs demo">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible"content="IE=9; IE=8; IE=7; IE=EDGE" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/style.css" />
<link rel="stylesheet" href="__PUBLIC__/home/css/lrtk.css">
<script type="text/javascript" src="__PUBLIC__/home/js/png.js" ></script>
<script src="__PUBLIC__/home/js/jquery.min.js"></script>
<script src="__PUBLIC__/home/js/jquery-migrate-1.2.1.min.js"></script>
<script src="__PUBLIC__/home/js/jquery.swipe-events.js"></script>
<script src="__PUBLIC__/home/js/fsvs.js"></script>
<script src="__PUBLIC__/home/js/main.js"></script>
<title></title>
</head>

<body class="fsvs">
<!--header-->
<include file="Public:head" />

<!-- 代码 开始 -->
<div id="fsvs-body">
<div class="slide" style="background:#ff6e42; padding-top:150px;">
<img src="__PUBLIC__/home/images/about_01.png" />
</div>
<div class="slide" style="background:#f0f0f0; padding-top:150px;">
<img src="__PUBLIC__/home/images/about_02.png"/>
</div>
<div class="slide" style="background:#fdd43c; padding-top:150px;">
<img src="__PUBLIC__/home/images/about_03.png"/>
</div>
<div class="slide" style="background:#1aaef8; padding-top:150px;">
<img src="__PUBLIC__/home/images/about_04.png"/>
</div>
</div>
<!-- 代码 结束 -->



</body>
</html>